body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* LOGIN CARD */
.card {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  backdrop-filter: blur(10px);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* DASHBOARD */
.dashboard {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-card {
  background: #22c55e;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
  text-align: center;
}

.actions button {
  margin-right: 10px;
  background: #3b82f6;
  color: white;
}

.offers {
  margin-top: 20px;
}

.offer {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}